img.object-contain.agency-logo{
  max-width:140px !important;
  height: 90px !important;
}
body #app .sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a span:not(span.cpanel) {
    color: #34343EFF !important;
}
body #app .sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a span, body #app .sidebar-v2-agency .template-library-sidebar-root p, body #app .sidebar-v2-agency .template-library-sidebar-root p span, body #app .sidebar-v2-agency .template-library-sidebar-root div, body #app .sidebar-v2-agency .template-library-sidebar-root div span, body #app .sidebar-v2-agency .template-library-sidebar-root .n-collapse-item__header-main, body #app .sidebar-v2-agency .template-library-sidebar-root .n-collapse-item__header-main, body #app .sidebar-v2-agency #sidebar-v2 .hl_nav-header-without-footer nav a span {
    font-family: Poppins !important;
}
.sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 7px !important;
    margin-top: 7px !important;
}
body .sidebar-v2-location #sidebar-v2 .hl_nav-header nav a.active, body[data-hlpt-tsg='hlpt-advanced-settings'] .sidebar-v2-location #sidebar-v2 .hl_nav-header nav a:hover, body[data-hlpt-tsg='hlpt-advanced-settings'] .sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a.active, body[data-hlpt-tsg='hlpt-advanced-settings'] .sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a:hover, body[data-hlpt-tsg='hlpt-advanced-settings'] .sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a.active, body[data-hlpt-tsg='hlpt-advanced-settings'] .sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a:hover, body[data-hlpt-tsg='hlpt-advanced-settings'] .sidebar-v2-agency #sidebar-v2 .hl_nav-header-without-footer nav a.active, body[data-hlpt-tsg='hlpt-advanced-settings'] .sidebar-v2-agency #sidebar-v2 .hl_nav-header-without-footer nav a:hover, body[data-hlpt-tsg='hlpt-advanced-settings'] #app #sidebar-v2 .hl_nav-settings nav a.active, body[data-hlpt-tsg='hlpt-advanced-settings'] #app #sidebar-v2 .hl_nav-settings nav a:hover{
  background: #ccbe6dFF !important;
}
body #app .sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a.active span:not(span.cpanel) {
    color: #ffffff !important;
}
body #app .sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a:hover span:not(span.cpanel) {
    color: #ffffff !important;
}
.sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a.active, .sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a:hover {
    text-decoration: none !important;
    width: 94% !important;
    border: 2px solid #f4f4f4 !important;
    border-radius: 100px !important;
    margin-left: 10px !important;
    margin-bottom: 5px !important;
}
.sidebar-v2-agency #sidebar-v2 .hl_nav-header nav a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 7px !important;
    margin-top: 7px !important;
  margin-left: 10px !important;
}

a#sb_agency-dashboard::before {
    content: "\f624";
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 900;
    color: #3ba9d0FF;
    font-size: 18px;
}
a#sb_agency-dashboard img {
    display: none;
}
a#sb_agency-saas-configurator::before{
  content: "\f0c2" !important; /* contoh: cloud icon */
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  color: #3ba9d0 !important;
  font-size: 18px;
}
#sb_agency-saas-configurator span.h-5.w-5.mr-2 {
    display: none;
}
a#sb_location-prospect::before{
   content: "\e5c5" !important; /* contoh: Font Awesome search icon */
  font-family: "Font Awesome 6 Pro" !important;
  font-weight: 900 !important;
  color: #3ba9d0 !important;
  font-size: 18px;
}
#sb_location-prospect img {
    display: none;
}
a#sb_agency-accounts::before{
  content: "\f0c0" !important; /* Font Awesome users icon */
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  color: #3ba9d0 !important; /* bisa ganti warna */
  font-size: 18px;
}
#sb_agency-accounts img {
    display: none;
}
a#sb_agency-account-snapshots::before{
  content: "\f0c5" !important; /* Font Awesome 'copy' icon */
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  color: #3ba9d0 !important;
  font-size: 18px;
}
#sb_agency-account-snapshots img{
  display:none;
}
a#sb_agency-account-reselling::before{
  content: "\e605" !important; /* Font Awesome 'copy' icon */
  font-family: "Font Awesome 6 Pro" !important;
  font-weight: 900 !important;
  color: #3ba9d0 !important;
  font-size: 18px;
}
#sb_agency-account-reselling img{
  display:none;
}
a#sb_agency-marketplace::before{
  content: "\f0a1" !important; /* Font Awesome 'copy' icon */
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  color: #3ba9d0 !important;
  font-size: 18px;
}
#sb_agency-marketplace img{
  display:none;
}
a#sb_agency-partners::before{
  content: "\f4c6" !important; /* Font Awesome 'copy' icon */
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900 !important;
  color: #3ba9d0 !important;
  font-size: 18px;
}
#sb_agency-partners img{
  display:none;
}
a#sb_saas-education::before{
  content: "\f51c" !important; /* Font Awesome 'copy' icon */
  font-family: "Font Awesome 6 Pro" !important;
  font-weight: 900 !important;
  color: #3ba9d0 !important;
  font-size: 18px;
}
#sb_saas-education img{
  display:none;

a#sb_agency-ideas::before{
  content: "\f672" !important; /* Font Awesome 'copy' icon */
  font-family: "Font Awesome 6 Pro" !important;
  font-weight: 900 !important;
  color: #3ba9d0 !important;
  font-size: 18px;
}
#sb_agency-ideas img{
  display:none;
}
a#sb_mobile-app-customiser::before{
  content: "\f3cd" !important; /* Font Awesome 'copy' icon */
  font-family: "Font Awesome 6 Pro" !important;
  font-weight: 900 !important;
  color: #3ba9d0 !important;
  font-size: 18px;
}
#sb_mobile-app-customiser img{
  display:none;
}
